<div class="container">
  <button
    mat-raised-button
    (click)="openForm()"
    style="background-color: green; color: white; margin-right: 10px"
  >
    New Contact
  </button>
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Search"
      #searchInput
    />
  </mat-form-field>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="handleSortEvent($event)"
    class="mat-elevation-z8"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let contact">{{ contact.id }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let contact">{{ contact.firstName }}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let contact">{{ contact.lastName }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let contact">
        <button
          mat-raised-button
          (click)="openForm(contact)"
          style="background-color: #0084ff; color: white; margin-right: 10px"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let contact">
        <button
          mat-raised-button
          (click)="deleteContact(contact.id)"
          style="background-color: rgb(231, 50, 50); color: white"
        >
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  {{totalContacts}}
  pageSize:
  {{pageSize}}
  pageIndex:
  {{pageIndex}}
  <mat-paginator
    #paginator
    [length]="totalContacts"
    [pageSize]="pageSize"
    [pageSizeOptions]="[2, 5, 10]"
    [pageIndex]="pageIndex"
    [showFirstLastButtons]="showFirstLastButtons"
    (page)="handlePageEvent($event)"
  />
</div>
